<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"  charset="utf-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" th:href="@{/css/main.css}" />
                <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <title>FriendFace</title>
                    </head>

                    <body>
                        <nav class="navbar navbar-expand-md">
                            <a class="nav-link" th:href="@{/profile/{profileCode}(profileCode=${logged.profileCode})}">FriendFace</a>
                            <div th:text="'Logged in as: ' + ${logged.userName}"></div>
                            <div class="collapse navbar-collapse" id="main-navigation" style="margin-left:300px">
                                <form th:if="${!allUserAccounts.empty}"
                                      th:action="@{/profile/{profileCode}/sendFriendRequest(profileCode=${userAccount.profileCode})}"
                                      method="POST">
                                    <select name="chosenId">
                                        <option th:each="userAccount : ${allUserAccounts}" th:value="${userAccount.id}"
                                                th:text="${userAccount.firstName + ' ' + userAccount.lastName}">
                                        </option>
                                    </select>
                                    <button type="submit">Send friend request</button>
                                </form>
                            </div>
                            <div class="collapse navbar-collapse" id="main-navigation">
                                <a class="nav-link" href="/logout">Log out</a>
                            </div>
                        </nav>
                        <div class="container" style="margin-top:30px">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div th:if="${profilePicId} != null">
                                        <img th:src="@{/picture/{id}/(id=${profilePicId})}" style="width:100%; border-radius:5px; " />
                                    </div>
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#" th:if="${hasFriends} == true">Friends:</a>
                                            <a class="nav-link disabled" href="#" th:if="${hasFriends} == false">No friends at the moment</a>
                                        </li>
                                    </ul> 

                                    <ul  class="nav nav-pills flex-column"  th:each="friendrequest : ${recievedFriendRequests}">
                                        <li  class="nav-item"  th:if="${friendrequest.accepted} == true">
                                            <a  class="nav-link"   th:href="@{/profile/{profileCode}(profileCode=${friendrequest.sourceUserAccount.profileCode})}" 
                                                th:text="${friendrequest.sourceUserAccount.firstName} + ' ' + ${friendrequest.sourceUserAccount.lastName}" >name</a>
                                            <div   class="nav-link"  th:if="${userAccount.userName == logged.userName}">
                                                <form th:action="@{/friendrequest/reject/{id}(id=${friendrequest.id})}" th:method="POST">
                                                    <input  class="btn btn-light btn-sm"  type="submit" id="reject" value="Remove from friends"/></form></div>
                                        </li>
                                    </ul>

                                    <ul  class="nav nav-pills flex-column"  th:each="friendrequest : ${sentFriendRequests}">
                                        <li  class="nav-item"  th:if="${friendrequest.accepted} == true">
                                            <a  class="nav-link"   th:href="@{/profile/{profileCode}(profileCode=${friendrequest.targetUserAccount.profileCode})}" 
                                                th:text="${friendrequest.targetUserAccount.firstName} + ' ' + ${friendrequest.targetUserAccount.lastName}" >name</a>
                                            <div   class="nav-link"  th:if="${userAccount.userName == logged.userName}">
                                                <form th:action="@{/friendrequest/reject/{id}(id=${friendrequest.id})}" th:method="POST">
                                                    <input  class="btn btn-light btn-sm"  type="submit" id="reject" value="Remove from friends"/></form></div>
                                        </li>
                                    </ul>

                                    <div class="features" th:if="${!recievedFriendRequests.empty}">
                                        <div class="col-12" th:if="${userAccount.userName == logged.userName}">
                                            <ul class="nav nav-pills flex-column"  th:if="${hasPendingRecievedFriendRequests} == true"><li class="nav-item">
                                                    <a class="nav-link disabled" href="#">Recieved Friend Requests:</a>
                                                </li></ul> 
                                            <ul th:each="friendrequest : ${recievedFriendRequests}">
                                                <li th:if="${friendrequest.pending} == true">
                                                    <span th:text="${friendrequest.sourceUserAccount.firstName}">name</span>
                                                    <span th:text="${friendrequest.sourceUserAccount.lastName}">name</span>
                                                    <span th:text="'on ' + ${#temporals.format(friendrequest.friendRequestTimeStamp, 'dd.MM.yyyy HH:mm')}">name</span>
                                                    <form th:action="@{/friendrequest/reject/{id}(id=${friendrequest.id})}" th:method="POST">
                                                        <input type="submit" id="reject" value="Reject"/></form>
                                                    <form th:action="@{/friendrequest/approve/{id}(id=${friendrequest.id})}" th:method="POST">
                                                        <input type="submit" id="approve" value="Approve"/></form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="features" th:if="${!sentFriendRequests.empty}">
                                        <div class="col-12" th:if="${userAccount.userName == logged.userName}">
                                            <ul class="nav nav-pills flex-column"  th:if="${hasPendingSentFriendRequests} == true"><li class="nav-item">
                                                    <a class="nav-link disabled" href="#">Sent Friend Requests:</a>
                                                </li></ul> 
                                            <ul th:each="friendrequest: ${sentFriendRequests}">
                                                <li th:if="${friendrequest.pending} == true">
                                                    <span th:text="${friendrequest.targetUserAccount.firstName}">name</span>
                                                    <span th:text="${friendrequest.targetUserAccount.lastName}">name</span>
                                                    <span th:text="'on ' + ${#temporals.format(friendrequest.friendRequestTimeStamp, 'dd.MM.yyyy HH:mm')}">name</span>
                                                    <span th:if="${friendrequest.pending} == true">   (pending)</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

<!--                                    <div class="features" th:if="${userAccount.userName == logged.userName}">
                                        <div class="col-12">
                                            <ul class="nav nav-pills flex-column"><li class="nav-item">
                                                    <a class="nav-link disabled" href="#">Add new picture to gallery</a>
                                                </li></ul> 
                                            <form method="POST" action="/profile/esme535"
                                                  enctype="multipart/form-data">
                                                <input type="file" name="file" id="file" />Description:
                                                <input type="text" name="caption" id="caption" placeholder="..."/>
                                                <input type="submit" value="Add" />
                                            </form>
                                        </div>
                                    </div>-->

                                    <div class="features" th:if="${userAccount.userName == logged.userName}">
                                        <h5>Add new picture to gallery</h5>
                                        <form method="POST" th:action="@{/profile/{profileCode}(profileCode=${userAccount.profileCode})}"
                                              enctype="multipart/form-data">
                                            <input type="file" name="file" id="file" />Description:
                                            <input type="text" name="caption" id="caption" placeholder="..."/>
                                            <input type="submit" value="Add" />
                                        </form>
                                    </div>



                                </div>
                                <div class="col-sm-8" style="margin-top: 70px;">

                                    <ul class="nav nav-pills flex-column" style="text-align: center; margin-bottom: 20px;">
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#"  th:text=" ${userAccount.firstName} + '\'s Profile'"></a>
                                        </li>
                                    </ul> 

                                    <form method="POST" th:action="@{/profile/{profileCode}/message(profileCode=${userAccount.profileCode})}">
                                        <input style="width:500px;" type="text" name="content" placeholder="..." />
                                        <input style="width:200px;" type="submit" value="Write a message" />
                                    </form>

                                    <div th:each="message : ${recievedmessages}" class="jumbotron shadow-sm p-3 mb-3 rounded" style="margin-top: 10px; background: #e0e8e7;"> 
                                        <div class="jumbotron shadow-none p-3 mb-3 rounded" style="background: #f0f3f1"> 
                                            <span th:text="${message.sender.firstName} + ' ' + ${message.sender.lastName}" class="font-weight-light"></span>
                                            <span th:text="'at ' + ${#temporals.format(message.messageTimeStamp, 'dd.MM.yyyy HH:mm')} + ':'" class="font-weight-light"></span>
                                            <p th:text="${message.content}"></p>
                                            <!-- Likes -->
                                            <form 
                                                th:action="@{/profile/{profileCode}/message/{id}/addThumbUp(profileCode=${userAccount.profileCode},id=${message.id})}" th:method="POST">
                                                <span class="ml-2 lead align-self-end" th:text="${#lists.size(message.messageThumbUps)} + ' likes'"></span>
                                                <input type="submit" value="Like" />
                                            </form>
                                        </div>                    
                                        <!-- Comments -->
                                        <div th:each="comment : ${message.messageComments}" class="font-weight-light" style="margin-left: 40px; margin-bottom: 20px;">
                                            <span   class="font-weight-light" th:text="${comment.writer.firstName} + ' ' + ${comment.writer.lastName} + ' at ' + ${#temporals.format(comment.commentTimeStamp, 'dd.MM.yyyy HH:mm')} + ':' "></span>
                                            <div  class="font-weight-bold" th:text="${comment.content}"></div>
                                        </div>
                                        <form th:action="@{/profile/{profileCode}/message/{id}/addComment(profileCode=${userAccount.profileCode},id=${message.id})}" th:method="POST"
                                              style="margin-left: 40px; margin-bottom: 10px;">
                                            <input type="text" name="commentContent" id="caption" placeholder="..."/>
                                            <input type="submit" value="Add comment"/>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <h2>Picture Gallery</h2>
                                    <tr th:if="${pictures.empty}">
                                        <td colspan="4">No pictures</td>



                                    </tr> 

                                    <div class="gallery" th:each="picture : ${pictures}" style="margin-top: 10px; background: #e0e8e7;"> 
                                        <a th:href="@{/picture/{id}/(id=${picture.id})}">
                                            <img th:src="@{/picture/{id}/(id=${picture.id})}" />
                                        </a>
                                        <table style="display: flex; margin: 10px; padding: 10px;">
                                            </th>
                                            <ul style="list-style: none; font-weight: 500;">
                                                <div style="list-style: none; font-weight: 600; padding: 15px" class="desc"
                                                     th:text="${picture.caption}" Description></div>
                                                <div th:each="comment: ${picture.pictureComments}">
                                                    <p th:text="${comment.writer.firstName}+' ' + ${comment.writer.lastName} + ' commented on '
                                                       + ${#temporals.format(comment.commentTimeStamp, 'dd.MM.yyyy HH:mm')} + ': ' + ${comment.content}"</p>
                                                </div>
                                            </ul>
                                            <th>
                                                <form  th:action="@{/profile/{profileCode}/picture/{id}/addComment(profileCode=${userAccount.profileCode},id=${picture.id})}" th:method="POST">
                                                    <input type="text" name="pictureContent" id="caption" placeholder="..."/>
                                                    <input type="submit"  value="Add comment" />
                                                </form>
                                            </th>
                                        </table>
                                        <div style="display: flex; margin: 10px; padding: 10px;" th:if="${userAccount.userName == logged.userName}">
                                            <form th:action="@{/picture/{id}(id=${picture.id})}" th:method="makeprofilepicture">
                                                <input type="submit" id="makeprofilepicture" value="Set to profile pic"/>
                                            </form>
                                            <form th:action="@{/picture/{id}(id=${picture.id})}" th:method="delete">
                                                <input type="submit" id="delete" value="Delete"/>
                                            </form>
                                        </div>
                                        <div style="display: flex; margin: 10px; padding: 10px;">
                                            <form>
                                                <th> Picture like count: </th>
                                                <th th:text="${#lists.size(picture.pictureThumbUps)}"></th>
                                            </form>
                                            <form th:action="@{/profile/{profileCode}/picture/{id}/addThumbUp(profileCode=${userAccount.profileCode},id=${picture.id})}"th:method="POST">
                                                <input type="submit" value="Like" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </main>
                        <!-- Optional JavaScript -->
                        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
                    </body>

                    </html>