body {
    padding: 0;
    margin: 0;
    background: #f0f3f1;
    font-family: 'Lato';
    font-weight: 700;
}
/*--- navigation bar ---*/
.navbar {
    background:#61b6ac;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    color:#5c737f;
    font-size: 24px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
/*--- description (Welcome to FriendFace) ---*/
.description {
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -55%);
    text-align: center;

}
.description h1 {
    color: #5c737f;
    cursor: pointer;
}
.description p {
    color: #5c737f;
    font-size: 1.3rem;
    line-height: 1.5;
}
/*--- Three-column Section ---*/
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.signup {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    width: 400px;
}
.login {
    left: 72%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -55%);
    text-align: center;

}
.feature-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    color:#555;
    font-size: 18px;
    font-family: 'Lato';
    padding: 10px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;

}